/*------------ GENERAL STYLES ------------*/
:root {
  box-sizing: border-box;
}

*, ::before, ::after {
  box-sizing: inherit;
}

.container {
  position: relative;
  width: 90%;
  margin-inline: auto;
  /* border: 2px solid grey; */
  display: flex;
}
/*----------------------------------------*/




/*----------- LEFT SECTION CREATE DATA -----------*/
.left-section {
  border: 2px solid black;
}

  /* --------profiles-------*/
  .select-profile {display: none;}
   label[for="select"] {display: none;}
  .delete-profile {display: none;}

  /* --------folders--------*/
  .add-folder-text {display: none;}

  .add-folder-btn {display: none;}

  .folder-text-wraper {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
  }

  .folder-text {
    padding: 0;
  }

  .opened-folder {
    color: red;
    padding: 0;
  }

  .delete-folder {
    display: none;
  }

  /* --------flashcards--------*/
  .front, .back {display: none;}

  .create-data-btn, .show-data-btn {display: none;}

  .data-span {
    border: 1px solid rgb(138, 137, 137);
    padding: 0.5em;
    display: inline-block;
    width: 200px;
  }

  .data-div {
    cursor: pointer;
    position: relative;

    button {
      visibility: hidden;
    }
  }

  .data-div:hover {
    background-color: rgb(250, 250, 250);
  }

  .data-div:hover button {
    visibility: visible;
  }

  .folders-data-list {
    margin-top: 1em;
    margin-bottom: 1em;
    position: relative;
  }
  
  .flashcards-total {
    margin-left: 150px;
    width: 200px;
  }
  
  #data-div-modal {
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 100%;
  }
  
  .edit-flash-btn {
    position: relative;
  }
  
  .delete-flash-btn {
    position: relative;
  }
  
  .flashcards-modal {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .flashcards-modal-content {
    position: absolute;
    top: 300px;
    left: 250px;
  }
  
  .flashcards-edit-confirm {
    display: block;
  }
/*------------- end of left section --------------*/




/*----------- RIGHT SECTION STUDY -----------*/
.right-section {
  display: none;
  margin-left: 2em;
  margin-right: 2em;
  border: 2px solid black;
}

  /* --------study menu---------*/
  .to-learn-wrapper {
    position: relative;
  }

  .f-length {
    font-weight: bold;
    color:aqua;
  }

  .r-length {
    font-weight: bold;
    color:rgb(255, 11, 11);
  }

  .personal-session-btn {
    position: relative;
    right: 0;
  }

  /* --------study modal---------*/
  .modal {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .modal-content {
    position: relative;
    background-color: white;
    width: 500px;
    height: 500px;
    margin-inline: auto;
    margin-top: 4em;
    overflow: hidden;
  }

  .flashcards-length {
    color:aqua;
    font-weight: bold;
    font-size: 20px;
    position: absolute;
    top: 70px;
    left: 225px;
  }

  .reviews-length {
    color:rgb(255, 11, 11);
    font-weight: bold;
    font-size: 20px;
    position: absolute;
    top: 70px;
    left: 270px;
  }

  .span-front-data {
    font-size: 40px;
    text-align: center;
    display: block;
    margin-top: 120px;
  }

  .span-back-data {
    font-size: 40px;
    text-align: center;
    display: block;
    margin-top: 50px;
  }

  .show-answer-btn {
    position: absolute;
    top: 450px;
    left: 200px;
  }

  .next-btn {
    position: absolute;
    top: 450px;
    left: 380px;
  }

  .back-btn {
    position: absolute;
    top: 450px;
    left: 70px;
  }

  .close-modal-button {
    color: grey;
    font-size: 40px;
    float: right;
    margin-right: 0.5em;
    margin-top: 0.3em;
    cursor: pointer;
    user-select: none;
  }

  .close-modal:hover {
    color: black;
  }
/*--------- end of right section -----------*/




/* ----------- SETTINGS SECTION ------------ */
.settings-section {
  border: 2px solid black;
  width: 400px;
  display: none;
}

  .settings-text {
    font-weight: bold;
  }

  input[id="new"], input[id="review"] {
    width: 100px;
  }
/* --------end of settings section---------*/